/****************************TEXT CONTENT****************************/
h1 { 
  font-size:220%;
  font-weight:bold;
  margin-bottom:1.5em;
}
.content{
    margin-top:13%;
} 
.contentT{
    background-color: #A17A59;
    color: #FFFAF4;
    padding:2%;
    text-align:justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.startpage{
    font-size:1.2em;
}