/****************************TEXT CONTENT****************************/
@font-face{
    font-family:anonymous;
    src: url(../fonts/AnonymousPro-Regular.ttf);
}
@font-face{
    font-family:anonymousI;
    src: url(../fonts/AnonymousPro-Italic.ttf);
}
h1 { 
  font-size:220%;
  font-weight:bold;
  margin-bottom:1.5em;
}
.startfont{
    font-family:anonymous;
}
.fun{
  background-image: url("../img/Datentunnel2.jpg");
  background-repeat: no-repeat;
  height:100vh;
  width:100%; 
  background-attachment: fixed;
  /*margin-top:-10vh;*/
}
.contentT *{
    padding: 5px 10px;
}
.contentT{
    background-color: #1F4E79;
    color: #FFFAF4;
    text-align:justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top:7%;
}
.startpage{
    font-size:1.2em;
}