/*******************************TEXT CONTENT****************************/
@font-face{
    font-family:junicode;
    src: url(../fonts/Junicode.ttf);
}
.row.content {
    margin-top: 2vh;
}
.textbox {
    font-size: 16px !important;
    font-family: junicode !important;
    line-height: 1.6 !important;
    background: white;
    border: solid 0.5px;
    height: 80vh;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.motto {
    font-size: 16px !important;
}
.col-text{
    overflow-y:scroll;
    height: 79vh;
}
.col-md-1.col-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.chapterL,
.chapterR {
    margin: 7%;
}
h1 {
    font-size: 220%;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h2 {
    font: 14px Arial, sans-serif;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.signatureMark{
    font-size:small;
    margin-top:4% !important;
    text-align:right !important;
}
.folio{
    font-size:small;
    font-weight:bold;
    margin-bottom:5% !important;
    text-align:center;
}
.lage{
	font-style:italic;
	font-size:small;
	margin-top:3vh;
	font-weight:bold;
	text-align:right;
}
/******************************LEM*************************/
.modal{
    font-family:junicode;
}
.modal-body{
    font-size:16px !important;
}
.popover-content{
    font-family:junicode;
}
/*Cursor für click im Popover "...mehr"*/
.popover-content a{
    cursor:pointer;
}
/*Cursor für Beleglink im Footer*/
.clickBeleg{
    cursor:pointer;
}
.btn-info.leml,.btn-default.leml, .btn-default.lemr{
    font-size: 16px !important;
    padding: 0 1% !important;
}
/*add text before alternatives*/
.lemAlternative:first-of-type:before {
    content: "Alternative Schreibweisen: \a";
    white-space: pre;
}
.lemLinks:first-of-type {
    margin-top: 1em;
    border-top: 0.5px solid #FFFAF4;
}

/******FOOTNOTE WITH MARGINAL NOTES*******/
.footnote{
    margin-top:15%;
}
hr.margNote{
    border-top: 3px double #8c8b8b;
}
/*SCROLLBAR BECAUSE UGLY FOR FIREFOX AND CHROME*/
::-webkit-scrollbar { 
    display: none; 
}

/*****************FAKSIMILE KRAMS*******************/
.myPictures{
    width:100%;
    margin-top:1vh !important;
}
img[id^="zoom_01"]{
    object-fit:contain;
    height:65vh;
    margin-left:5vw;
}
div[id^="gallery_01"]{
    margin-top:1vh !important;
    margin-left:5vw;
}
img[id^='img_']{
    object-fit:contain;
    height:10vh;
    border: 1px solid #ddd;
}
img[id^='img_']:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}